meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="author", content=config.author)

title
    block site_title
        if page.title
            = page.title + ' - ' + config.title
        else
            if page.tag
                = page.tag + ' - ' + config.title
            else
                = config.title

link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"))

link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet", href=url_for("/css/main.css"))

if config.highlight.enable
    link(rel="stylesheet", href=url_for(theme.highlight.style_path))

if theme.googlefonts
    each font in theme.googlefonts
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family="+font)
